{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block title %}Log In | QuizApp{% endblock title %}

{% block content %}
<div class="login_form">
    <form method="POST">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <p class="card-text">
                    {% csrf_token %}
                    {{ form|crispy }}</p>
                <button type="submit" class="btn btn-success">Login</button>
                <a class="btn btn-primary" href="{% provider_login_url 'github' %}" role="button">Login with Github</a>
            </div>
        </div>
        <br>
    </form>
</div>
{% endblock content %}