{% extends '_base.html' %}
{% load static %}
{% block title %}My Attempts | QuizApp{% endblock title %}

{% block content %}
<br>

{% for attempt in attempt_list %}
{% if attempt.user.username == user.username %}
<div class="card text-center">
    <div class="card-header">
        {{ attempt.quiz.title }}
    </div>
    <div class="card-body">
        <h5 class="card-title">Quiz score: {{ attempt.score}}</h5>
        <h5 class="card-title">Has passed?: {{ attempt.has_passed}}</h5>
        <h5 class="card-title">Attempt Date: {{ attempt.attempt_date}}</h5>
    </div>
</div>
<br>

{% endif %}
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}