{% extends '_base.html' %}
{% load static %}
{% block title %}Quiz List | QuizApp{% endblock title %}

{% block content %}

<div class="container">
    <br>
    {% if keyword %}
    <div class="alert alert-warning" role="alert">
        No results for {{keyword}} keyword. Sorry :(
    </div>
    <a href="#Foo" class="btn btn-warning" data-toggle="collapse"> Click to see which quiz categories QuizAPI.io
        provides.</a>
    <div id="Foo" class="collapse">
        PHP | Docker | BASH | Linux | MySQL | HTML | JavaScript | Kubernetes
    </div>
    {% endif %}

    <h2 class="text-center">Enter a keyword</h2>
    <br>
    <form method="GET">
        <input type="text" name="keyword" placeholder="Keyword" class="text-center" required>
        <br>
        <input type="number" name="limit" placeholder="Amount" class="text-center" value="1" min="1" max="15" required>
        <br>
        <select id="difficulty" name="difficulty" placeholder="Questions Difficulty" class="text-center">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <br>
        <button type="submit" class="btn-danger btn-sm">Generate Questions</button>
        <br>
    </form>
</div>

{% endblock content %}