{% extends '_base.html' %}
{% load static %}
{% block title %}Generate Questions | QuizApp {% endblock title %}

{% block content %}
<div class="generate-questions">
    <div class="container-fluid">
        {% if error %}
        <div class="row">
            <div class="col-md-8 offset-md-3">
                <div class="401-error">
                    <div class="keyword-info">
                        <div class="alert alert-danger" role="alert" style="width: 36rem">
                            Oops! Unauthorized request. Sorry :( Fetch an api key from <a
                                href="https://quizapi.io/register">QuizAPI.io</a> and paste it to the docker-compose.yml
                            file.
                        </div>
                    </div>


                </div>
            </div>
        </div>

        {% endif %}


        {% if keyword %}
        <div class="row">
            <div class="col-md-8 offset-md-3">
                <div class="no-results">
                    <div class="keyword-info">
                        <div class="alert alert-warning" role="alert" style="width: 36rem">
                            No results for {{keyword}} keyword. Sorry :(
                        </div>
                    </div>
                    <a href="#Foo" class="btn btn-warning" data-toggle="collapse" style="width: 36rem"> Click to see
                        which
                        quiz categories
                        QuizAPI.io
                        provides.</a>
                    <div id="Foo" class="collapse">
                        <div class="quiz-categories">
                            PHP | Docker | BASH | Linux | MySQL | HTML | JavaScript | Kubernetes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 offset-md-3">
            <div class="question-generate-form">
                <div class="card" style="width: 36rem;">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <h5 class="card-title">Generate Questions based on chosen category!</h5>

                            <div class="question-generate-form">
                                <form method="GET">
                                    <div class="col-xs-2">
                                        Quiz Category:
                                        <input type="text" name="keyword" placeholder="Quiz category"
                                            class="text-center" required>
                                    </div>

                                    <div class="col-xs-2">
                                        Amount of questions:
                                        <input type="number" name="limit" placeholder="Amount" class="text-center"
                                            value="1" min="1" max="15" required>
                                    </div>

                                    <div class="col-xs-2">
                                        Difficulty level:
                                        <select id="difficulty" name="difficulty" placeholder="Questions Difficulty"
                                            class="text-center">
                                            <option value="easy">Easy</option>
                                            <option value="medium">Medium</option>
                                            <option value="hard">Hard</option>
                                        </select>
                                    </div>
                                    <div class="generate-submit-button">
                                        <button type="submit" class="btn-danger btn-sm">Generate Questions</button>
                                    </div>

                            </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>







</div>



</div>








{% endblock content %}