{% extends '_base.html' %}
{% load static %}
{% block title %}Quiz List | QuizApp{% endblock title %}

{% block content %}

<br>
<a href="{{ view.get_absolute_url_create }}" class="btn btn-primary w-100 mb-3">Create New Quiz</a>
<br>
{% for quiz in quiz_list %}
{% if quiz.author.username == user.username %}
<div class="card text-center">
    <div class="card-header">
        {{ quiz.title }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ quiz.short_description}}</h5>
        <a href="{{ quiz.get_absolute_url }}" class="btn btn-primary">Preview</a>
        <a href="{{ quiz.get_absolute_url_edit }}" class="btn btn-secondary">Edit Quiz</a>
        <a href="{{ quiz.get_absolute_url_questions_edit }}" class="btn btn-success">Edit Questions</a>
        <a href="{{ quiz.get_absolute_url_delete }}" class="btn btn-danger">Delete Quiz</a>
        <br><br>
        <a href="{{ quiz.get_absolute_url_play }}" class="btn btn-dark">Attempt</a>

    </div>
</div>
<br>

{% endif %}
{% endfor %}

{% endblock content %}