{% extends '_base.html' %}
{% load static %}
{% block title %}Quiz List | QuizApp{% endblock title %}

{% block content %}

<br>
<a href="{{ view.get_absolute_url_create }}" class="btn btn-primary">Create New Quiz</a>
<hr>
{% for quiz in quiz_list %}
{% if quiz.author.username == user.username %}
<div class="card text-center">
    <div class="card-header">
        Quiz
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ quiz.title }}</h5>
        <p class="card-text">{{ quiz.short_description }}</p>
        <a href="{{ quiz.get_absolute_url }}" class="btn btn-primary">Preview</a>
        <a href="{{ quiz.get_absolute_url_edit }}" class="btn btn-success">Edit Quiz</a>
        <a href="{{ quiz.get_absolute_url_questions_edit }}" class="btn btn-success">Edit Questions</a>
        <a href="{{ quiz.get_absolute_url_delete }}" class="btn btn-danger">Delete Quiz</a>
    </div>
</div>
<br>

{% endif %}
{% endfor %}

{% endblock content %}