{% extends '_base.html' %}
{% load static %}
{% block title %}Quiz List | QuizApp{% endblock title %}

{% block content %}

<div class="quiz_edit">
    <form action="" method="post" enctype="multipart/form-data">

        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
        {% endfor %}

        {% csrf_token %}
        {{ form.management_form }}
        {{ form.non_form_errors }}
        <h>Update Quiz</h>
        {% csrf_token %}
        {{ form.instance.Question.content}}
        {% for answer_form in form.forms %}
        <hr>
        <h>
            {% if answer_form.instance.id %}
            Question: {{answer_form.instance.content }}
            <br>
            Question personal key {{answer_form.instance.pk}}
            <br>

            {% else %}
            {% if form.forms|length > 1 %}
            Add another Answer
            {% else %}
            Add Question
            {% endif %}
            {% endif %}
        </h>
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
        {% endfor %}
        <table>
            {{ answer_form.as_table }}
        </table>

        {% endfor %}

        <hr>
        <p>
            <button type="submit" class="btn-primary w-100 mb-3">Add New Question</button>
            <button type="submit" value="Update quiz" class="btn btn-primary w-100 mb-3">Update Quiz</button>
            <a href="{{ quiz.get_absolute_url_edit}}" role="button" class="btn btn-secondary w-100">Cancel</a>
        </p>

    </form>
</div>

{% endblock content %}