{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{quiz.title}} Edit | QuizApp {% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-3">
            <div class="quiz_edit_header">
                <h> Update Questions for {{quiz.title}}</h>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <a href="{% url 'question_generate' quiz.pk %}" role="button" class="btn btn-secondary w-100">Generate
                Questions via QuizAPI.io</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-3">
            <div class="quiz_edit">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.management_form }}
                    {{ form.non_form_errors }}
                    {% csrf_token %}
                    {{ form.instance.Quiz.title}}
                    {% for question_form in form.forms %}
                    <hr>

                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <h>
                                {% if question_form.instance.id %}
                                Question #{{ forloop.counter }}
                                {% else %}
                                {% if form.forms|length > 1 %}
                                Add another Question
                                {% else %}
                                Add Question
                                {% endif %}
                                {% endif %}
                            </h>
                            <table>
                                {{ question_form.as_table }}
                            </table>
                            {% if question_form.instance.content != '' %}
                            <a href="{% url 'question_answer_edit' question_form.instance.pk %}" role=" button"
                                class="btn btn-primary">Edit answers</a>
                            {% endif %}
                        </div>

                    </div>
                    {% endfor %}
            </div>

            <hr>
            <p>
                <button type="submit" value="Update quiz" class="btn btn-primary w-100 mb-3">Update Quiz</button>
                <a href="{{ quiz.get_absolute_url_my_quizes}}" role="button" class="btn btn-secondary w-100">Cancel</a>
            </p>

            </form>
        </div>
    </div>
</div>
{% endblock content %}