{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{quiz.title}} Edit | QuizApp {% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-3">


            <div class="quiz_edit">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <b>Quiz Edit</b>
                            </h5>
                            <p class="card-text text-center">
                                {% csrf_token %}
                                {{ form|crispy }}</p>
                            <button type="submit" value="Update quiz" class="btn btn-primary w-100 mb-3">Update
                                Quiz</button>
                            <a href="{{ quiz.get_absolute_url_my_quizes }}" role="button"
                                class="btn btn-secondary w-100">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}