{% extends '_base.html' %}
{% load static %}
{% block title %}{{quiz.title}} | QuizApp{% endblock title %}

{% block content %}

<div class="quiz_detail">
    <h2><a href="">{{ quiz.title }}</a></h2>
    <p>Short description: {{ quiz.short_description }}</p>
    <p>Author: {{ quiz.author }}</p>
    <p>Number of questions: {{ quiz.number_of_questions }}</p>
    <h> Questions: </h>
    <div class="quiz_questions">
        <ul>
            {% for question in quiz.questions.all %}
            <li>{{ question.content }}</li>
            <ul>
                {% for answer in question.answers.all %}
                <li>{{ answer.content }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock content %}