{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{quiz.title}} Edit | QuizApp {% endblock title %}

{% block content %}
<div class="quiz_edit">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" value="Update quiz" class="btn btn-primary w-100 mb-3">Update Quiz</button>
        <a href="{{ quiz.get_absolute_url_my_quizes }}" role="button" class="btn btn-secondary w-100">Cancel</a>
    </form>
</div>

{% endblock content %}