{% extends '_base.html' %}
{% load static %}
{% block title %}Quiz List | QuizApp{% endblock title %}

{% block content %}
<br>
<form class="d-flex" action="{% url 'search_results' %}" method="get">
    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-\ label="Search">
    <button class="btn btn-success" type="submit">Search</button>
</form>
<br>
{% for quiz in quiz_list %}
<div class="card text-center">
    <div class="card-header">
        {{ quiz.title }}
    </div>
    <div class="card-body">
        <h5 class="card-title"> {{ quiz.short_description}}</h5>
        <p class="card-text">Author: {{ quiz.author }}</p>
        <!-- Modal button -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#attemptModal{{quiz.pk}}">Attempt
            Quiz</button>
        <!-- Modal -->
        <div class="modal fade" id="attemptModal{{quiz.pk}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title w-100" id="logoutModal">Quiz Attempt</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to start <b>{{ quiz.title }}? </b>
                        <br>
                        Time to resolve: <b>{{ quiz.resolution_time }} minutes </b>
                        <br>
                        Required score to pass: <b>{{ quiz.required_score_to_pass }}%</b>
                        <br>
                        <!-- Number of questions: <b>{{ quiz.getNumberOfQuestions }}</b> -->
                    </div>
                    <div class="modal-footer justify-content-center">
                        <form id="logoutform" method="POST" action="{% url 'account_logout' %}">
                            <input type="hidden">
                            <a href="{{ quiz.get_absolute_url_play }}" class="btn btn-primary">Yes</a>
                            <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">No</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <a href="{{ quiz.get_absolute_url }}" class="btn btn-primary">Preview Quiz</a>

    </div>
</div>
<br>
{% endfor %}

{% endblock content %}