{% extends '_base.html' %}
{% load static %}
{% block title %}Quiz List | QuizApp{% endblock title %}

{% block content %}
<br>
<form class="d-flex" action="{% url 'search_results' %}" method="get">
    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-\ label="Search">
    <button class="btn btn-success" type="submit">Search</button>
</form>
<br>
{% for quiz in quiz_list %}
<div class="card text-center">
    <div class="card-header">
        Quiz
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ quiz.title }}</h5>
        <p class="card-text">{{ quiz.short_description }}</p>
        <a href="{{ quiz.get_absolute_url }}" class="btn btn-primary">Attempt Quiz</a>
    </div>
</div>
<br>
{% endfor %}

{% endblock content %}